<h1>Listing wiggles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wiggles.each do |wiggle| %>
      <tr>
        <td><%= wiggle.name %></td>
        <td><%= wiggle.owner %></td>
        <td><%= link_to 'Show', wiggle %></td>
        <td><%= link_to 'Edit', edit_wiggle_path(wiggle) %></td>
        <td><%= link_to 'Destroy', wiggle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wiggle', new_wiggle_path %>
