<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wiggle.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @wiggle.owner %>
</p>

<%= link_to 'Edit', edit_wiggle_path(@wiggle) %> |
<%= link_to 'Back', wiggles_path %>
