<p id="notice"><%= notice %></p>

<p>
  <strong>Global:</strong>
  <%= @user.global_id %>
</p>

<p>
  <strong>Favorite wiggle:</strong>
  <%= @user.favorite_wiggle %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
